node-red/flows.json
[{"id":"1508c0da.81744f","type":"tab","label":"TV_OFF_MANUAL","disabled":false,"info":""},{"id":"f1dde1b1.86297","type":"tab","label":"TV OFF","disabled":false,"info":""},{"id":"c2dc0289.3c72c","type":"tab","label":"TV STATE SYNC","disabled":false,"info":""},{"id":"82b6325e.c5e3a","type":"server","z":"","name":"Home Assistant"},{"id":"fbdd0093.49106","type":"tls-config","z":"","name":"no_ssl_check","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"47379f57.693af","type":"mqtt-broker","z":"","name":"HisenseTV","broker":"192.168.199.107","port":"36669","tls":"fbdd0093.49106","clientid":"98:09:CF:0A:82:F9$normal","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9dd151fe.7468f","type":"inject","z":"1508c0da.81744f","name":"","topic":"","payload":"KEY_POWER","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":140,"wires":[["f0236d1a.3d061"]]},{"id":"f0236d1a.3d061","type":"mqtt out","z":"1508c0da.81744f","name":"KEY_POWER","topic":"/remoteapp/tv/remote_service/98:09:CF:0A:82:F9$normal/actions/sendkey","qos":"","retain":"","broker":"47379f57.693af","x":430,"y":140,"wires":[]},{"id":"dd8c5f23.14da1","type":"server-state-changed","z":"f1dde1b1.86297","name":"","server":"82b6325e.c5e3a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.tv_bool","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":380,"wires":[["dfc3a00d.2bf74"],["d60bee7a.c527f"]]},{"id":"746275c5.e24bec","type":"mqtt out","z":"f1dde1b1.86297","name":"KEY_POWER","topic":"/remoteapp/tv/remote_service/98:09:CF:0A:82:F9$normal/actions/sendkey","qos":"","retain":"","broker":"47379f57.693af","x":740,"y":440,"wires":[]},{"id":"d60bee7a.c527f","type":"change","z":"f1dde1b1.86297","name":"Set payload to KEY_POWER","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"KEY_POWER","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":440,"wires":[["746275c5.e24bec"]]},{"id":"74ce9120.59ed1","type":"api-call-service","z":"f1dde1b1.86297","name":"WOL","server":"82b6325e.c5e3a","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.tv_wol","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":300,"wires":[[]]},{"id":"dfc3a00d.2bf74","type":"change","z":"f1dde1b1.86297","name":"","rules":[{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":300,"wires":[["74ce9120.59ed1"]]},{"id":"2b6c0e6.014c6f2","type":"server-state-changed","z":"c2dc0289.3c72c","name":"","server":"82b6325e.c5e3a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.tvstatus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":190,"y":40,"wires":[["7f83f23f.ba48ec"]]},{"id":"7f83f23f.ba48ec","type":"switch","z":"c2dc0289.3c72c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":100,"wires":[["7e3cc536.92e13c"],["76ea7d6e.75fbe4"]]},{"id":"7e3cc536.92e13c","type":"api-current-state","z":"c2dc0289.3c72c","name":"","server":"82b6325e.c5e3a","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.tv_bool","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":160,"wires":[["fe788288.b02a4"],[]]},{"id":"eb3c8e95.e597a","type":"api-call-service","z":"c2dc0289.3c72c","name":"","server":"82b6325e.c5e3a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.tv_bool","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":420,"wires":[[]]},{"id":"76ea7d6e.75fbe4","type":"api-current-state","z":"c2dc0289.3c72c","name":"","server":"82b6325e.c5e3a","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.tv_bool","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":170,"y":160,"wires":[["f4224236.70bd6"],[]]},{"id":"262c9d03.343232","type":"api-call-service","z":"c2dc0289.3c72c","name":"","server":"82b6325e.c5e3a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.tv_bool","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":420,"wires":[[]]},{"id":"f4224236.70bd6","type":"change","z":"c2dc0289.3c72c","name":"","rules":[{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":300,"wires":[["262c9d03.343232"]]},{"id":"fe788288.b02a4","type":"change","z":"c2dc0289.3c72c","name":"","rules":[{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":320,"wires":[["eb3c8e95.e597a"]]}]